RPC_URL=https://testnet-rpc.monad.xyz
POOL_ADDRESS=0xFc15CB9dCbd16ed99c16431B5fc6B10F066599E0
POOL_ADDRESSES_V2=0xVaultA,0xVaultB
DB_PATH=./everdraw.db
START_BLOCK=19085672
PORT=3001
POINTS_START_UNIX=1778217646
